importFrom(utils, download.file)
importFrom(R.utils, gunzip)
importFrom(utils, txtProgressBar, setTxtProgressBar)
importFrom(XML, htmlParse, xpathSApply, xmlValue)
importFrom(tm, removeWords, stopwords)
importFrom(stringr, str_count)
importFrom(qdapRegex, rm_between)
importFrom(stringi, stri_extract_all_regex)
export(get8KItems)
export(getBusinDescr)
export(getDailyMaster)
export(getFilingInfo)
export(getFilings)
export(getFilingsHTML)
export(getMasterIndex)
export(getMgmtDisc)
export(getSentiment)
export(searchFilings)
export(getFilingHeader)
